/* gogle font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/*------------------------------------ 
    common class and utilits 
------------------------------------*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

.half_width{
    width: 50%;
}
.btn{
    padding: 10px 20px;
    background-color: #E02C6D;
    border: none;
    outline: none;
    border-radius: 3px;
}
.btn:hover{
    background: linear-gradient(rgb(143, 7, 255), rgb(255, 2, 87));
}

/* --------------------------
    header part  
---------------------------------*/

header{
    background-color: #2D25A0;
    padding: 50px 150px;
    transition: 2s ease;
}
header:hover{
    background-color: #1000ee;
    transition: 2s;
}
header:hover .text h1{
    color: black;
    
} 
.image img{
    width: 560px;
    height: 440px;
}
.header{
    display: flex;
    align-items: center;
    margin: 50px 0;
}
.header .text{
    margin-top: 50px;
}
.text h1{
    font-size: 64px;
    font-weight: 700;
    color: #ffff;
    transition: 2s;
}

/* -----------------------------
        player section
-----------------------------------*/
.container{
    padding: 70px 170px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;

    /* background-color: #ccc; */
    justify-content: center;
}
.player{
    
    padding: 10px; 
    box-shadow: -2px -2px 18px 0px #b3a3a3;
    background-color: #ffff;
    
}
.player img{
    width: 100%;
    height: auto; 
    
}
.player h2{
    font-size: 28px;
    font-weight: 700;
    margin: 10px 0px
} 
.player p{
    margin: 10px 0px;
    font-size: 16px;
    color: #6C6C6C;
}

/* =-------------------------
        copa_america section 
----------------------- */
.copa_america{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 150px;
}
.matchImg img{
    width: 90%;
}
.artical h1{
    font-size: 48px;
    font-weight: bold;
}
.artical p{
    font-size: 16px;
    color: #6C6C6C;
    margin: 20px 0;
}
/* --------------------------------
    highliight videos 
----------------------------------- */

.video_part{
    padding: 100px 150px;
}
.video_part .title{
    margin: 30px 0px;
    font-size: 48px;
    font-weight: 700;
}
.videos{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);

}
.video{
    margin: 5px 10px;
    padding: 10px;
    box-shadow: 2px 8px 9px 0px #675c5c;
    border-radius: 10px;
}
iframe{
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* -----------------------------------
        match_shedule 
-----------------------------------*/
.match_shedule{
    padding: 70px 150px;
    width: 80%;
    text-align: center;
}
.match_title{
    font-size: 2rem;
    margin: 20px 0;
    font-weight: 700;
}
.main_box{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    padding: 20px;
    box-shadow: 2px 2px 8px #ccc;

}
.match_shedule .match{
    display: flex;
    align-items: center;
    justify-content: center;
}
.match{
    /* border: 1px solid; */
    padding: 20px 30px;
    background-color: #b2afe7ab;
    margin: 30px 50px;
    box-shadow: 2px 3px 10px #333;
    border-radius: 10px;
}
.flag img{
    width: 100px;
    height: auto;
}
.result{
    text-align: center;
    padding: 10px;
}
.result h4{
    font-size: 24px;
    font-weight: 700;
}
.match_shedule .btn {
    margin: 30px 0px;
    color: #ffff;
    border-radius: 10px;
    text-align: center;
}
/*---------------------
     footer 
------------------------ */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer img{
    width: 50%;
}
.icons{
    display: flex;
    padding: 20px 0px;
}
.icon{
    color: grey;
    font-size: 16px;
    padding: 5px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #ccc;;
}
footer p{
    font-weight: bold;
    margin-bottom: 50px;
}


/* ---------------------------------------------
        media query for mobile devise 
-----------------------------------------------*/

@media only screen and (max-width : 688px) {
    .header{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin: 50px 0;
    }
    .half_width{
        width: 100%;
    }
    header{
        width: 100vw;
        background-color: #0069f3;
        padding: 30px;
    }
    .header .text{
        margin: 2%;
    }
    .text h1{
        font-size: 36px;
    }
    .image img{
        width: 90%;
        height: auto;
        margin: 30px auto;
    }
/*-------------------------------------
         player part  
---------------------------------*/
    .container{
        margin-top: 30px;
        padding: 0px;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        width: 70%;
        height: auto; 
        margin: 10px auto;     
    }
    .player h2{
        font-size: 28px;
        margin: 10px 0px
    } 
    .player p{
        margin: 10px 0px;

    }
    


    /* copa_america part  */
    .copa_america{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 15px;
    }
    .artical{
        margin-bottom: 30px;
    }
    .artical h1{
        font-size: 30px;
    }
    .matchImg img{
        width: 100%;
        margin: 20px auto;
    }

    /*----------------------------------
         highlights part  
    ------------------------------*/
    .video_part{
        padding: 30px;
    }
    .video_part .title{      
        font-size: 30px;
    }
    .videos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    
    }
    .video{
        margin: 5px 10px;
        padding: 10px;
        box-shadow: 2px 8px 9px 0px #675c5c;
        border-radius: 10px;
    }

    /* -----------------------------
        match .match_shedule  
    --------------------------------*/
    .match_shedule{
        padding: 20px;
        margin: 0px 10px;
        width: 90%;
    }
    .flag img{
        width: 50px;
        height: auto;
    }
}




